body {
    background-color: blueviolet;
    background-image: url();
}

h1  {
    text-align: center;
    color: crimson;
    text-shadow: 2px 2px black;
}

h2, p {
    text-align: center;
    margin: 0px 20px 0px 20px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}

div {
    width: 250px;
    height: 120px;
    background-color: white;
    margin: 20px auto;
    border-radius: 20px;

}